.poolItemContainer {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  font-family: "DM Sans";
  height: fit-content;
}

.poolItemMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 20px;
  padding: 14px 26px;
}

.titleSection {
  padding: 14px 10px 14px 0px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  flex-basis: 25%;
  min-width: 131px;
}

.ticker {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: white;
}

.name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  opacity: 0.5;
  margin-top: 15px;
}

.rewardsSection {
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 30%;
  min-width: 55px;
}

.rewardsContainer {
  text-align: left;
}

.rewardsTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: white;
}

.rewards {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: white;
}

.apySection {
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 30%;
  min-width: 55px;
}

.apyContainer {
  text-align: left;
}

.apyTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: white;
}

.apy {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: white;
}

.stakedSection {
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 30%;
  min-width: 100px;
}

.stakeContainer {
  text-align: left;
}

.stakeTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: white;
}

.stake {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: white;
}

.moreSection {
  padding: 14px 0px 14px 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 20%;
}

.moreContainer {
  display: flex;
  column-gap: 5px;
}

.moreText {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: white;
}

.poolItemExtra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5px;
  border-radius: 0px 0px 20px 20px;
  padding: 14px 26px;
}

.depositSection {
  padding: 14px 10px 14px 0px;
  text-align: left;
  flex-basis: 32%;
  min-width: 130px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.depositTitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: color;
  margin-left: 10px;
}

.depositInput {
  border-radius: 20px;
  border: 1px solid #536b77;
  padding: 8px 18px;
  font-size: 15px;
}

.depositButton {
  background-color: #6a1787;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  align-self: center;
}
.depositButton:hover {
  background-color: #dd38f2;
}
.depositButton:disabled {
  cursor: default;
  color: grey;
  background-color: #6a1787 !important;
}

.withdrawSection {
  padding: 14px 10px;
  text-align: left;
  flex-basis: 32%;
  min-width: 130px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.claimSection {
  padding: 14px 0px 14px 0px;
  text-align: right;
  flex-basis: 30%;
  min-width: 130px;
}

.claimButton {
  border: 1px solid #536b77;
  background-color: #ffa500;
  box-shadow: 0px 2px 2px #4c626d;
  border-radius: 10px;
  cursor: pointer;
  width: 156px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  align-self: center;
}

@media only screen and (max-width: 760px) {
  .poolItemMain {
    padding: 10px 25px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .poolItemExtra {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .poolItemExtra > div {
    flex-grow: 1;
    text-align: center;
  }
}
