.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.test {
  border: 1px red solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    align-items: center;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --darkk: #1d2b5a;
  --dark2: #1d062c;
  --bluepurp: #2b0e79;
  --bluepurpdark: #1f0f4a;
  --bluedark: #030315;
  --yellow: #f7d33c;
  --pinkred: #fd496a;
  --white: #ffffff;
  --purp1: #4a1062;
  --purp2: #6a1787;
  --purp3: #dd38f2;
}

/* REUSABLES */

/* gradient button */
.galaxy Button,
.dash-btn1,
.milkynav Button {
  border: none;
  background-image: linear-gradient(to right, var(--yellow), var(--pinkred));
  color: white;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.5);
}

/* clickable */
Button,
a.social,
.milky-navlink,
#navbrand,
.trade-button {
  margin-right: 15px;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover,
.milky-navlink:hover,
#navbrand:hover,
.trade-button {
  transform: translateY(-2px);
}

/* centered */
.App-header p,
.dash-contain,
.galaxy-back {
  margin: 0 auto;
}

/*HEADER*/

.App-header {
  /* background-color: var(--bluedark); */
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;

  font-size: calc(10px + 2vmin);
  color: white;
}

/* NAVBAR */
.milkynav {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  font-family: "DM Sans";
  margin-top: -3px;
}

.milkynav Button {
  border: none;
  background-image: linear-gradient(to right, var(--yellow), var(--pinkred));
  color: white;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.5);

  border-radius: 28px;
  margin: 7px;
  font-size: large;
  padding: 8px 24px;
}

.milky-navlink {
  margin-left: auto;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-size: large;
}

.milky-navlink:hover {
  color: white;
}

/* FOOTER */

/* background-image: url("./resources/images/back2.png");
overflow: visible;
background-repeat: no-repeat;
background-size: contain;
background-size:cover; */

.footer-list ul {
  padding: 0;
  margin: 0;
  justify-content: left;
  list-style: none;
}

.footer-list li {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  -webkit-padding-start: 0;
}

/* DASH */

.dash-div {
  /* background-color: black; */

  background-image: url("./resources/images/back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: -75px 0 0 0;

  /* box-shadow: 0 -20px rgb(0, 0, 15) inset, 0 -40px rgb(0, 10, 16) inset, 0 -60px rgb(1, 1, 20) inset, 0 -80px rgb(2, 2, 21) inset; */
  /* box-shadow: inset 0px -23px 40px 25px white;     */
  /* box-shadow: 0px -20px 60px 10px transparent inset; */

  min-height: 850px;
  padding-bottom: 100px;
}

.dash-btn {
  border-radius: 28px;
  margin: 12px;
  font-size: 14px;
  padding: 8px 30px;
}
.dash-btn1 {
  box-shadow: 1px 2px 8px 1px rgb(92, 93, 95);
}
.dash-btn2 {
  background-image: none;
  background-color: #4a1062;
  color: white;
  border: none;
}

.dash-circ {
  height: 202px;
  width: 202px;
  border-radius: 110px;
  background-color: var(--purp1);
  padding-top: 70px;
  /* display: flex; */
  align-items: center;
  margin: auto;
  font-family: "DM Sans";
}

.dash-circ h2 {
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 0px;
  line-height: 44px;
}

.dash-circ p {
  font-size: 14px;
  color: var(--purp3);
}

/* GALAXY */

.galaxy.div {
  display: block;
  z-index: 5;
  position: relative;

  margin-right: auto;
  margin-left: auto;
  margin-top: -20px;
  /* width: 200px; */
  height: 200px;
  position: relative;
}

.galaxy-div {
  height: fit-content;
  position: relative;
  width: 100%;
}

.galaxy-title {
  font-size: 38px;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 48px;
}

.galaxy-logo {
  position: absolute;
  left: calc(50% - 10px) !important;
  top: calc(50% + 90px);
  width: 124px;
  height: 80px;
  margin: auto !important;
  transform: translate(-50%, -50%);
}

.galaxy {
  display: block;
  z-index: 5;
  position: relative;

  margin: 0 auto;
  margin-top: -1000px;

  width: 55%;
  height: 100%;
  color: #fff;
  text-shadow: 0 0 3px #000;
  text-align: center;
  font-size: 30px;

  /* box-shadow: 0 0 20px 20px black  ; */
  /* background-blend-mode: difference; */
  height: 850px;
  padding-bottom: 120px;
}

@media only screen and (max-width: 965px) {
  .galaxy {
    width: 100%;
    height: fit-content;
    padding: 0;
  }
  .galaxy-circle {
    margin: auto !important;
    margin-top: 70px !important;
  }
  .galaxy-logo {
    display: none;
  }
  .dash-circ,
  .community-circ-container {
    margin-bottom: 30px !important;
  }
  .milky-navlink {
    margin: 0;
  }

  .milkynav Button {
    padding: 5px 10px;
    margin-right: 0;
    margin-left: 0;
  }
}

.dimmer {
  margin-top: -90px;

  /* padding-top: -80px; */
  background-color: black;
  width: 100%;

  /* position:absolute; */
  /* top:0; */
  /* left:0; */
  height: 1200px;
  /* -webkit-filter: blur(50px); */
  /* -moz-filter: blur(50px); */
  /* -o-filter: blur(50px); */
  /* -ms-filter: blur(50px); */
  filter: blur(50px);

  /* -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-image: linear-gradient(to top, black 90%, transparent 100%); */
}

.galaxy-back {
  margin-top: -1160px;

  background-image: url("./resources/images/galaxy.png");
  background-repeat: no-repeat;
  opacity: 0.73;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 990px;

  /* position:absolute; */
  /* top:0;
  left:0; */
  /* width: 100%; */
  /* height:100%; */
}

.galaxy-circle {
  padding: 29px;

  height: 202px;
  width: 202px;
  border-radius: 101px;
}
.galaxy-circle h5 {
  color: var(--purp3);
}

.galaxy-circle p {
  font-size: 12px;
}

.galaxy-circle Button {
  font-size: 15px;
  padding: 5px 13px;
  border-radius: 30px;

  margin: auto;
  margin-top: 10px;
  padding: 8px 20px;
}

/* COMMUNITY */

.community-div {
  margin-top: 230px;
  padding-top: 80px;

  background-image: url("./resources/images/back2.png");
  /* overflow: visible; */
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 1000px;
}

.community-div h2 {
  display: block;
  padding-bottom: 30px;
}

.community-circ-container {
  height: 202px;
  min-width: 202px;
  max-width: 202px;
  border-radius: 110px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}

.community-circ-container,
.galaxy-circle {
  background: #1c1946; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #360c47 0%,
    #1c1946 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #360c47 0%,
    #1c1946 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #360c47 0%,
    #1c1946 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#360C47', endColorstr='#1c1946',GradientType=0 ); /* IE6-9 */
}

.community-circ {
  display: inline-block;
  height: 202px;
  max-width: 202px;
  padding: 0;
  /* display: flex; */
  align-items: center;
}

.community-circ p {
  font-size: 14px;
  color: var(--purp3);
}

.community-circ h2 {
  padding-top: 98px;
  padding-bottom: 0;
  margin: 0;
}

div.wallets-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image: url("./resources/images/wallets-icon.png");
  background-repeat: no-repeat;
}

div.chains-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image: url("./resources/images/chains-icon.png");
  background-repeat: no-repeat;
}
div.community-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image: url("./resources/images/community-icon.png");
  background-repeat: no-repeat;
}
div.milkyway-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image: url("./resources/images/milkyway-icon.png");
  background-repeat: no-repeat;
}

/* PARTNERS */

.partners-div {
  padding-top: 70px;

  /* background-color: black; */

  margin: 0;
  font-family: "DM Sans";

  /* box-shadow: 0 -20px rgb(0, 0, 15) inset, 0 -40px rgb(0, 10, 16) inset, 0 -60px rgb(1, 1, 20) inset, 0 -80px rgb(2, 2, 21) inset; */
}

.partners-circ {
  margin: 0 auto;
  /* background-color: var(--purp1); */
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 6px solid var(--purp3);
  background-image: url("./resources/images/LOGO.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  font-weight: bold;
}

.partners-div h5 {
  padding-top: 7%;
  font-size: 40%;
  font-weight: bold;
}

/* TRADER */
.trade-div {
  background-image: url("./resources/images/back2.png");
  /* overflow: visible; */
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.trade-content {
  min-height: calc(100vh - 200px);
}

.trader-div {
  background-color: var(--bluepurp);
  border: none;
  border-radius: 30px;
  margin: 0 auto;
  padding: 3px;
  padding-top: 35px;
  padding-bottom: 8px;
  /* margin-top: 20px; */
  width: 30%;

  margin-top: 180px;
  margin-bottom: 180px;
  /* padding-top: 80px; */
}

.trade-from-div,
.trade-to-div {
  background-color: var(--bluepurpdark);
  border: none;
  border-radius: 10px;
  margin: auto auto;
  width: 98%;
}

.trade-from-div {
  margin-top: 20px;
}
.trade-to-div {
  margin-top: 8px;
}

.trade-from-div Form.Text,
.trade-to-div Form.Text {
  background-color: var(--purp1);
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: auto;
  margin-top: 20px;
  width: 78%;
}

.trade-from-div DropDown,
.trade-to-div DropDown {
  background-color: var(--purp1);
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: aut0;
  margin-top: 20px;
  width: 98%;
}

.trade-connect-btn {
  width: 98% !important;
  font-size: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  padding: 15px;
  border: none !important;
  border-radius: 20px !important;

  background-image: linear-gradient(
    to right,
    var(--yellow),
    var(--pinkred)
  ) !important;
  color: white !important;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.5) !important;
}

.trade-button {
  background-color: var(--bluepurpdark);
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
  color: white;
  font-size: large;
  border: none;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.selected-btn {
  background-color: var(--purp3);
  box-shadow: none;
}

.swap {
  margin-top: 5%;
  margin-left: -37%;
  /* margin-right: auto; */
}

.trade-settings {
  background-color: transparent;
  /* margin-right: -50px; */
  float: right;
  margin-top: 5%;

  /* margin-left: auto; */
  border: none;
  box-shadow: none;
}

/* FARMS */

.farm-page {
  background-image: url("./resources/images/back2.png");
  /* overflow: visible; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.farms-div {
  width: 70%;
  margin: 40px auto;
}

.your-farm-btn {
  width: 90%;
  margin-bottom: 3%;

  background: repeating-linear-gradient(
    125deg,
    var(--bluepurp),
    var(--bluepurp) 8px,
    var(--bluepurpdark) 8px,
    var(--bluepurpdark) 15px
  );
  opacity: 0.7;
  border: none !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.your-farm-btn p {
  margin-left: -30px;
  display: block;
}

.farm-btn {
  width: 90%;
  margin-bottom: 3%;
  background-color: var(--bluepurpdark) !important;
  border: none !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.farm-btn p {
  margin-left: -40px;
  display: block;
}

.selected-farm {
  background-color: var(--bluepurp) !important;
}

.dividers hr {
  color: var(--purp3);
}

.divider-right {
  display: inline-block;
}

.divider-right p {
  font-size: medium;
  float: left;
  padding-right: 8px;
}

.wallet-address {
  background-color: #6a1787;
  font-size: 18px;
  padding: 7px 21px;
  border-radius: 50px;
  cursor: default;
  min-width: 170px;
  margin-right: 30px;
  float: right !important;
}

.footer-list,
.footer-list li {
  margin: 0;
  padding: 0;
}

.footerContainer {
  font-family: "Open Sans";
}

.footerContainer h5 {
  font-weight: bold;
  margin-bottom: 23px;
}

.footer-list li {
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-list li:hover {
  text-decoration: underline white solid 1px;
}

.footerLogo {
  margin-right: 60px;
  min-width: min(530px, 100%);
}

.headerApp {
  justify-content: flex-start !important;
  min-width: calc(100% - 210px) !important;
  margin: 0 !important;
  margin-left: 10px !important;
}

.footer-app {
  font-family: "Montserrat";
  padding-bottom: 0 !important;
}

.footer-app h5 {
  font-size: 14px;
  text-align: center;
}

.footer-app > div {
  padding: 0;
  margin: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.social-container {
  margin-top: -10px !important;
}

@media only screen and (max-width: 500px) {
  .wallet-address {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 760px) {
  .wallet-address {
    font-size: 14px;
    min-width: 150px;
    margin-right: 20px;
  }
  .trader-div {
    width: 90% !important;
    min-width: 0 !important;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .trade-from-div {
    margin-top: 40px;
  }
  .footer-app {
    padding: 20px !important;
  }
  .social-container {
    text-align: right;
  }

  .headerApp {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
    margin-top: 10px !important;
  }

  .farms-div {
    margin-top: 0;
  }

  .headerApp > div {
    width: fit-content;
    flex-shrink: 0;
    margin: 10px;
    margin-top: 0px;
  }

  .footer-list {
    margin-bottom: 30px;
  }

  .footerLogo {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .social-container {
    padding-top: 10px;
    text-align: left;
  }
}
