.App {
  text-align: center;
}

.test {
  border : 1px red solid;
}

.App-logo {
  height: 40vmin;
  pointer-events:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    align-items: center;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --darkk: #1D2B5A;
  --dark2: #1D062C;
  --bluepurp: #2B0E79;
  --bluepurpdark : #1F0F4A;
  --bluedark: #030315;
  --yellow: #F7D33C;
  --pinkred: #fd496a;
  --white: #ffffff;
  --purp1: #4a1062;
  --purp2: #6a1787;
  --purp3: #DD38F2;
}

/* REUSABLES */

/* gradient button */
.galaxy Button, .dash-btn1, .milkynav Button {
  border: none;
  background-image: linear-gradient(to right, var(--yellow), var(--pinkred));
  color : white;
  box-shadow: 1px 2px 8px 1px rgba(0 , 0, 0, 0.5);
} 

/* clickable */
Button, a.social, .milky-navlink, #navbrand, .trade-button {
  margin-right: 15px;
  transition: transform 250ms;
  display: inline-block;
}

Button:hover, a.social:hover, .milky-navlink:hover, #navbrand:hover, .trade-button {
  transform: translateY(-2px);
}


/* centered */
.App-header p, .dash-contain, .galaxy-back{
  margin : 0 auto;
}



/*HEADER*/

.App-header {
  /* background-color: var(--bluedark); */
  background-color: black;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;

  font-size: calc(10px + 2vmin);
  color: white;
}

/* NAVBAR */
.milkynav {
  width: 100%;
  margin: 0 auto;
  background-image: url("./resources/images/back1.png");
  background-repeat: no-repeat;
  }

.milkynav Button {
  border: none;
  background-image: linear-gradient(to right, var(--yellow), var(--pinkred));
  color : white;
  box-shadow: 1px 2px 8px 1px rgba(0 , 0, 0, 0.5);

  border-radius: 18px;
  margin : 7px;
  font-size: large;
  padding: 8px 18px;
}

.milky-navlink {
  margin-left: auto;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-size: large;
}

.milky-navlink:hover {
  color:white;
}

/* FOOTER */

/* background-image: url("./resources/images/back2.png");
overflow: visible;
background-repeat: no-repeat;
background-size: contain;
background-size:cover; */

.footer-list ul {
  padding: 0;
  margin:0 ;  
  justify-content: left;
  list-style: none;
}

.footer-list li {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  -webkit-padding-start: 0;
}


/* DASH */

.dash-div {
  /* background-color: black; */

  background-image: url("./resources/images/back1.png");
  background-repeat: no-repeat;
  background-size:cover;
  margin: -75px 0 0 0;

  /* box-shadow: 0 -20px rgb(0, 0, 15) inset, 0 -40px rgb(0, 10, 16) inset, 0 -60px rgb(1, 1, 20) inset, 0 -80px rgb(2, 2, 21) inset; */
  /* box-shadow: inset 0px -23px 40px 25px white;     */
  /* box-shadow: 0px -20px 60px 10px transparent inset; */



  min-height: 850px;
}

.dash-btn {
  border-radius: 18px;
  margin : 7px;
  font-size: 12px;
  padding: 8px 18px;

}
.dash-btn2 {
  background-image: none;
  background-color:white;
  color: black;
  border: none;
  box-shadow: 1px 2px 8px 1px rgb(92, 93, 95);

}

.dash-circ {
  height: 160px;
  width : 160px;
  border-radius: 90px;
  background-color: var(--purp1);
  padding-top: 50px;
  /* display: flex; */
  align-items: center;
}

.dash-circ p {
  font-size: 10px;
  color : var(--purp3);
}


/* GALAXY */


.galaxy.div{
  display: block;
  z-index: 5;
  position: relative;

  margin-right: auto;
  margin-left:auto;
  margin-top: -20px;
  /* width: 200px; */
  height: 200px;
  position: relative;
}


.galaxy {
  display: block;
  z-index: 5;
  position: relative;

  margin: 0 auto;
  margin-top: -1000px;

  width: 55%;
  height: 100%;
  color: #fff;
  text-shadow: 0 0 3px #000;
  text-align: center;
  font-size: 30px;

  /* box-shadow: 0 0 20px 20px black  ; */
  /* background-blend-mode: difference; */
  height: 850px;
  padding-bottom: 120px;
}

.dimmer {
  margin-top: -90px;  
  
  /* padding-top: -80px; */
    background-color: black;
    width: 100%;
    
    /* position:absolute; */
    /* top:0; */
    /* left:0; */
    height: 1200px;
    /* -webkit-filter: blur(50px); */
/* -moz-filter: blur(50px); */
/* -o-filter: blur(50px); */
/* -ms-filter: blur(50px); */
filter: blur(50px);

  /* -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-image: linear-gradient(to top, black 90%, transparent 100%); */

}

.galaxy-back {
  margin-top: -1160px;


  background-image: url("./resources/images/galaxy.png");
  background-repeat: no-repeat;
  background-size:constain;
  opacity: 0.73;
  background-size:auto;
  background-position-x: center;
  background-position-y: -30%;
  width: 55%;
  height: 990px;

  /* position:absolute; */
  /* top:0;
  left:0; */
  /* width: 100%; */
  /* height:100%; */
}

.galaxy-circle {
  padding : 29px;
  background-color: var(--purp1);

  height: 202px;
  width : 202px;
  border-radius: 101px;
}
.galaxy-circle h5 {
  color: var(--purp3);

}

.galaxy-circle p{
  font-size: 12px;
}

.galaxy-circle Button {
  font-size: 15px;
  padding: 5px 13px;
  border-radius: 15px;

  margin : 38px;
  padding: 8px 18px;
}

/* COMMUNITY */

.community-div{
  margin-top: 230px;
  padding-top: 80px;

background-image: url("./resources/images/back2.png");
/* overflow: visible; */
background-repeat: no-repeat;
background-size:cover;

height: 1000px;
}

.community-div h2 {
  display: block;
}


.community-circ {
  height: 170px;
  width : 170px;
  border-radius: 95px;
  background-color: var(--purp1);
  padding-top: 50px;
  /* display: flex; */
  align-items: center;
  margin: 0 auto;
}

.community-circ p {
  font-size: 10px;
  color : var(--purp3);
}

.community-circ h2 {
  padding-top: 18%;
  
}


div.wallets-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image:url('./resources/images/wallets-icon.png');
  background-repeat: no-repeat;

}

div.chains-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image:url('./resources/images/chains-icon.png');
  background-repeat: no-repeat;

}
div.community-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image:url('./resources/images/community-icon.png');
  background-repeat: no-repeat;

}
div.milkyway-icon {
  background-position-x: center;
  background-position-y: 20%;
  background-image:url('./resources/images/milkyway-icon.png');
  background-repeat: no-repeat;

}

/* PARTNERS */

.partners-div {
  padding-top:70px;

  /* background-color: black; */


  margin: -700px 0 0 0;

  /* box-shadow: 0 -20px rgb(0, 0, 15) inset, 0 -40px rgb(0, 10, 16) inset, 0 -60px rgb(1, 1, 20) inset, 0 -80px rgb(2, 2, 21) inset; */
}

.partners-circ {
  margin: 0 auto;
  /* background-color: var(--purp1); */
  height: 100px;
  width : 100px;
  border-radius: 50px;
  border: 6px solid var(--purp3);
  background-image:url('./resources/images/LOGO.png');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.partners-div h5{
  padding-top: 7%;
  font-size: 40%;
}



/* TRADER */
.trade-div{
  
  background-image: url("./resources/images/back2.png");
  /* overflow: visible; */
  background-repeat: no-repeat;
  background-size:cover;

  height: 1000px;
}

.trader-div{
  background-color: var(--bluepurp);
  border:none;
  border-radius: 10px;
  margin: 0 auto;
  /* margin-top: 20px; */
  width: 30%;

  margin-top: 180px;
  margin-bottom: 180px;
  /* padding-top: 80px; */

}

.trade-from-div, .trade-to-div{
  background-color: var(--bluepurpdark);
  border:none;
  border-radius: 10px;
  margin: auto auto;
  margin-top: 20px;
  width: 98%;
}

.trade-from-div Form.Text, .trade-to-div Form.Text{ 
  background-color: var(--purp1);
  border:none;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: auto;
  margin-top: 20px;
  width: 78%;
}

.trade-from-div DropDown, .trade-to-div DropDown{
  background-color: var(--purp1);
  border:none;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: aut0;
  margin-top: 20px;
  width: 98%;
}

.trade-connect-btn{
  width: 98% !important;
  font-size: medium !important;
  margin-top:15px !important;
  margin-bottom:5px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  padding-left :15px !important;
  padding-right :15px !important;
  padding-top: 55px !important;
  padding-bottom: 5px !important;
  border:none !important;
  border-radius: 10px !important;

  background-image: linear-gradient(to right, var(--yellow), var(--pinkred)) !important; 
  color : white !important;
  box-shadow: 1px 2px 8px 1px rgba(0 , 0, 0, 0.5) !important;
}

.trade-button {
  background-color: var(--bluepurpdark);
  border-radius: 10px;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:12px;
  padding-right:12px;
  margin-top: 10px;
  color:white;
  font-size: large;
  border: none;
  box-shadow: 1px 2px 4px 1px rgba(0 , 0, 0, 0.5);
}

.selected-btn {
  background-color: var(--purp3);
  box-shadow: none;
}

.swap {
  margin-top: 5%;
  margin-left: -37%;
  /* margin-right: auto; */
}

.trade-settings {
  background-color: transparent; 
  /* margin-right: -50px; */
  float: right;
  margin-top: 5%;

  /* margin-left: auto; */
  border: none;
  box-shadow: none;
}



/* FARMS */

.farm-page {
  background-image: url("./resources/images/back2.png");
  /* overflow: visible; */
  background-repeat: no-repeat;
  background-size:cover;
  height: 970px;
}

.farms-div {

  width: 70%;
  margin : 40px auto;
}

.your-farm-btn {
  width: 90%;
  margin-bottom: 3%;

  background: repeating-linear-gradient(
    125deg,
    var(--bluepurp),
    var(--bluepurp) 8px,
    var(--bluepurpdark) 8px,
    var(--bluepurpdark) 15px
  );
  opacity: 0.7;
  border: none !important;
  box-shadow: 1px 1px 1px 1px rgba(0 , 0, 0, 0.3);
  border-radius: 15px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.your-farm-btn p {
  margin-left: -30px;
  display: block;
  
}



.farm-btn {
  width: 90%;
  margin-bottom: 3%;
  background-color: var(--bluepurpdark) !important;
  border: none !important;
  box-shadow: 1px 1px 1px 1px rgba(0 , 0, 0, 0.3);
  border-radius: 15px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.farm-btn p {
  margin-left: -40px;
  display: block;
}

.selected-farm {
  background-color: var(--bluepurp) !important;
  
}

.dividers hr {
  color: var(--purp3);
  
}

.divider-right {
  display: inline-block;
}

.divider-right p {
font-size: medium;
float: left;
padding-right: 8px;
}

